*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #0d0024;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.menu, .menu2, .menu3, .menu4 {
    width: 200px;
    height: 200px;
    margin: 5% 12%;
    background-image: linear-gradient(to right, #b8d8e3, #535878);
    border-radius: 5px;
    cursor: pointer;
}
.menu div, .menu2 div, .menu4 div{
    width: 120px;
    height: 120px;
    margin: 40px;
    position: relative;
}
.menu3 div{

    width: 120px;
    height: 120px;
    margin: 70px 40px;
    position: relative;
}
.menu span, .menu2 span, .menu3 span, .menu4 span{
    background: #dcf8c6;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform 0.5s, width 0.5s;
}
.menu .line-1{
    transform: translate(-50%, -50px);
}
.menu .line-3{
    transform: translate(-50%, 40px);
}
.openmenu .line-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.openmenu .line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}
.openmenu .line-2{
    width: 0;
}

.menu2 .line-1{
    width: 50%;
    transform: translate(-100%, -50px);
    transform-origin: 0 0;
}
.menu2 .line-3{
    width: 50%;
    left: auto;
    right: 0;
    transform: translate(0, 40px);
    transform-origin: 100% 0;
}
.openmenu2 .line-1{
    transform: translate(0,0) rotate(-45deg);
}
.openmenu2 .line-3{
    transform: translate(-100%, 0) rotate(-45deg);
}
.openmenu2 .line-2{
    transform: translate(-50%,-50%) rotate(45deg);
}


.menu3 .line-1{
    transform: translate(-50%, -70px);
    
}
.menu3.line-3{
    transform: translate(-50%, 40px);
}
.openmenu3 .line-1{
    transform: translate(-50%, -200%) rotate(-45deg);
}
.openmenu3 .line-3{
    transform: translate(-50%, -200%) rotate(45deg);
}


.menu4 .line-1{
    width: 50%;
    transform: translate(0%, -50px);
    left: auto;
    right: 0;
    transform-origin: 0 0;
}
.menu4 .line-3{
    width: 50%;
    left: 0;
    right: auto;
    transform: translate(0, 40px);
    transform-origin: 100% 0;
}
.openmenu4 .line-1{
    transform: translate(0,0) rotate(-45deg);
}
.openmenu4 .line-3{
    transform: translate(0, -10%) rotate(-45deg);
}
.openmenu4 .line-2{
    transform: translate(-50%,-50%) rotate(45deg);
}
